.title-anim{
    animation: fade-in 1s linear;
}

.description-anim{
    animation: fade-in 1s linear;
}

.map-anim{
    animation: fade-in 2s linear;
}

.bounce-arrow{
    animation: bounce-right 1s infinite;
}

@keyframes x-trans-title{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes fade-in{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes bounce-right {
    0%, 100% {
      transform: translateX(25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
  