.home-1-sec{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #668D2E;
    height: 80vh;
    width: 100%;
}

.home-1-sec::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    clip-path: ellipse(17% 38% at 8% -5%);
}


.wave {
    position: absolute;
    top: 80vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 209px;
}

.wave .shape-fill {
    fill: #668D2E;
}

.custom-shape-divider-top-1661805617 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1661805617 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1661805617 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-bottom-1661807083 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1661807083 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1661807083 .shape-fill {
    fill: #ffffff;
}

.logo{
    width: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}